<!doctype html>
<html>
<head>
	<title>Review Stuff!</title>
	<script src="/javascripts/clickActions.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    {{{css}}}
</head>
<body>
    <section>
        <h1>Review Stuff!</h1>
        <hr>
        <p>
            Welcome to "Review Stuff"!  Where you can read and write reviews on
            movies, TV shows, books, and video games!
        </p>
        <hr>

        <h4>View: {{title}}</h4>


        {{{body}}}
    </section>



	

</body>
</html>


